<div class="container">
<div class="page-header">
<h1>編集</h1>
</div>
<%= render 'form', diary: @diary %>

<%= link_to '見る', @diary,class: 'btn btn-primary' , :style=>"color:white;"%> 
<%= link_to '戻る', diaries_path,class: 'btn btn-primary' , :style=>"color:white;"%>
</div>